{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
	<li data-target="#slides" data-slide-to="0" class="active">></li>
	<li data-target="#slides" data-slide-to="1"></li>
	<li data-target="#slides" data-slide-to="2"></li>
</ul>
<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="{% static 'images/Index/BlueTshirtSized2.jpg' %}">
	</div>
	<div class="carousel-item">
		<img src="{% static 'images/Index/PinkTshirtSized.jpg' %}">
	</div>
	<div class="carousel-item">
		<img src="{% static 'images/Index/WhiteTshirtSized.jpg' %}">
	</div>
</div>
</div>

<!--- Welcome Section -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Welcome to Elbow Bump</h1>
	</div>
	<hr>
	<div class="col-12">
		<p class="lead">Spend £35 for FREE SHIPPING!</p>
	</div>
</div>
</div>

<!--- What is Elbow Bump -->
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-lg-6">
		<h2>What is Elbow Bump?</h2>
		<p>A lot has changed this year - and it's inevitable that more change is coming. COVID-19 has impacted our lives in a way we will never forget - our children will ask about the Pandemic Era, when the world ground to a halt for months on end and what we did during ‘The Lockdown’. Well, this is what we did… </p>
		<br>
		<p>We launched Elbow Bump - a clothing company with an emphasis on sustainably sourced, ethically produced garments. We only use organic cotton, and only trade with suppliers that pay employees fairly with reasonable working hours and conditions. All our designs are made with water-based transfers, so we don’t use any nasty chemicals in our products. Even our packaging is eco-friendly - our mailing bags are made from sugarcane grown on reclaimed wasteland, making them fully biodegradable and recyclable!</p>
		<br>
		<p>Welcome to the future of sustainable clothing - we are Elbow Bump.</p>
		<br>
		<p>Love,</p>
		<p>Charlie, Jack, Jamie<p>
	</div>
	<div class="col-lg-6">
	<center><img src="{% static 'images/Index/Founders.jpg'  %}" class="img-fluid"></center>
	</div>
</div>
</div>

<!--- Best Sellers -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4"> Best Sellers </h1>
	</div>
	<hr>
</div>
</div>

<!--- Products -->
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-md-4">
		<div class="card">
			<div class="cardBlueBorder">
				<img class="card-img-top" src="{% static 'images/Index/classicTeeSized.jpg' %}">
				<div class="card-body">
					<h4 class="card-title">Classic Tee</h4>
					<p class="card-text">Our Classic Tees are made from 100% organic cotton. Available in a range of colours, you’re guaranteed to find what you’re looking for!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="cardOrangeBorder">
				<img class="card-img-top" src="{% static 'images/Index/classicHoodieSized.jpg' %}">
				<div class="card-body">
					<h4 class="card-title">Premium Hoodie</h4>
					<p class="card-text">Our heavyweight hoodie is made up of 70% organic cotton and 30% polyester, keeping you warm in style through the winter months!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="cardBlueBorder">
				<img class="card-img-top" src="{% static 'images/Index/caps.jpeg' %}">
				<div class="card-body">
					<h4 class="card-title">Corduroy Cap</h4>
					<p class="card-text">Stand out from the crowd with this stylish Elbow Bump cord cap. A directors' favourite which looks better and better with every outing.</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!--- Statment -->
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-lg-6">
		<h2>It's time to Cotton On!</h2>
		<p></p>
		<p>Organic cotton uses 91% less water to produce and emits 46% less greenhouse gasses than non-organic. That means choosing to buy an organic cotton tee can save 2,457 litres of water - enough for one person to drink 8 glasses of water daily for 3 and a half years!
			Cotton accounts for 16% of the worlds insecticides, 7% of the worlds pesticides and 69% of the water footprint generated by the textiles industry!
			Currently, less than 1% of cotton grown worldwide is organic.</p>
		<h4>What else are we doing to lead by example?</h4>
		<p>Globally, more than 1 trillion single-use plastic bags are used each year, and less than 5% get recycled. We use mailing bags made of sugarcane grown on reclaimed wasteland, making it 100% biodegradable and recyclable. Even our sticky tape and mailing cards are 100% biodegradable!</p>
		<p>Nearly half a trillion plastic water bottles are purchased and consumed each year, and fewer than 7% are recycled into new water bottles. Our hoodies are made up of 30% recycled polyester, made from recycled water bottles.</p>
	</div>
	<div class="col-lg-6">
	<center>
	<img src="{% static 'images/Index/tshirtStack.jpg' %}" class="img-fluid">
	</center>
	</div>
</div>
<hr class="my-4">
<center><h3>There’s an old saying that you have to be cruel to be kind - here at Elbow Bump, we think it’s cool to be kind.</h3></center>
</div>
<!--- Instagram -->
<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>Follow Us</h2>
	</div>
	<div class="col-12 social padding">
		<a href="https://www.instagram.com/elbowbump_apparel/"><i class="fab fa-instagram"></i></a>
	</div>
</div>
</div>

{% endblock content %}
