{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!--- Products -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4"> Shop </h1>
	</div>
</div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
<div class="row padding">
	{% for product in products %}
	<div class="col-md-4">
		<div class="card">
			<a href="/shop/{{product.name}}">
			<img class="card-img-top" src="{{product.imageURL}}"></a>
			<div class="card-body">
				<h4 class="card-title">{{product.name}}</h4>
				<p class="card-text">£{{product.price|floatformat:2}}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
</div>

{% endblock content %}